.my-footer {
    height: 5em;
    width: 100%;
    background-color: #163b65;
    bottom: 0;
    margin-top: 2rem;
    padding: 1em;
    color: white;
    font-size: 80%;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}

.row {
    margin: 0;
}